<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jenko</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px;
      }
      .jenkoSUCCESS { color: blue }
      .jenkoUNSTABLE { color: gray }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Jenkins</a>
          <!--
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
          -->
        </div>
      </div>
    </div>

    <div class="container">
     <dl>
{% for result in results %}
      <dt class="jenko{{ result[1] }}">{{ result[0].description }}</dt>
      {% if result[2] %}
      <dd>
      <ul>
        {% for item in result[2] %}
        <li>
          <a href="{{ result[0].url(item[1]) }}">{{ item[1][:8] }}</a> {{ item[0] }}
        </li>
        {% endfor %}
      </ul>
      </dd>
      {% endif %}
{% endfor %}
     </dl>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
